
@font-face
  font-family: "OpenSans"
  src: url("../fonts/OpenSans-Regular.woff")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Pacifico"
  src: url("../fonts/Pacifico-Regular.woff")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "MyriadPro"
  src: url("../fonts/MyriadPro-Regular.woff")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Raleway"
  src: url("../fonts/Raleway-Medium.woff")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Raleway"
  src: url("../fonts/Raleway-Bold.woff")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "Raleway"
  src: url("../fonts/Raleway-Black.woff")
  font-style: normal
  font-weight: 900
