.box3x
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  &__item
    max-width: 360px
    height: 440px
    overflow: hidden
    position: relative
    margin-top: 40px
    display: flex
    flex-direction: column
    width: 100%
    &--head
      font-size: 36px
      text-align: center
      text-transform: uppercase
      font-family: $font-Spartan
      margin-top: 17px
    &--txt
      font-size: 16px
      color: $color-white
      font-weight: 300
      font-family: $font
      text-align: center
      margin-top: 60px
    &--btn
      display: flex
      justify-content: center
      margin-top: 26px
      .btn
        padding: 8px 13px
    &--img
      position: absolute
      top: 25%
      transform: scale(1)
      transition: $trans-main
    &:hover
      .box3x__item--img
        transform: scale(1.03)
        transition: $trans-main
    &--info
      z-index: 2
  &__item:nth-child(2n)
    .box3x__item--info
      order: 2
      position: absolute
      bottom: 30px
      left: 50%
      transform: translateX(-50%)
      width: 100%
    .box3x__item--img
      order: 1
      top: -35%
  &__item:nth-child(2n+1)
    .box3x__item--info
      order: 1
    .box3x__item--img
      order: 2

  &__item:nth-child(1)
    background: #e97864
  &__item:nth-child(2)
    background: #557581
  &__item:nth-child(3)
    background: #82c9d8

@media screen and (min-width: 1400px)
  .box3x
    justify-content: space-between
    &__item
      margin-top: 40px
