.footer
  color: $color-white
  display: flex

@media screen and (min-width: 990px)
  .footer
    &__location
      margin-left: -40px
      display: flex
      flex-direction: column
      width: auto
