<header class="wrapper">
    <div class="logo">
        <div class="logo__img">
            <img src="images/logo.png" alt="...">
        </div>
    </div>
    <form action="search" class="search">
        <div class="search--container">
            <input class="search__input" type="search" id="search__input" autocomplete="off"  pattern=".+" required>
            <label class="search__label" for="search__input">
                <img src="images/search.png" alt="...">
                Search
            </label>
        </div>
    </form>
</header>
