<section class="inbox wrapper">
    <h4>
        Get our freshest content delivered to your inbox
    </h4>
    <p class="inbox__txt">
        For the latest stories, news, events, promotions
        and exclusive offers, sign up today. We know you
        get a lot of emails, but we promise... ours is
        the one you want.
    </p>
    <form action="subscribe" class="subscribe">
        <div class="subscribe__container">
            <input class="subscribe__input" type="email" id="subscribe__input" autocomplete="off" required placeholder="You email">
        </div>
        <div class="subscribe__container">
            <button class="btn">
                Subscribe
            </button>
        </div>
    </form>
</section>
