{% set navActiveItem = 0 %}
{% set title = "Главная" %}
{% extends "src/njk/layout/main.njk" %}
{% block content %}
{% include "src/njk/parts/header.njk" %}
<main>
    {% include "src/njk/parts/main.njk" %}
</main>
{% include "src/njk/parts/subscribe.njk" %}
{% include "src/njk/parts/footer.njk" %}
{% endblock %}
